:host {
  .scroll-container {
    height: 90vh;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    &__item {
      margin-bottom: 12px;
    }

    &__no-result {
      width: 100%;
      font-size: 32px;
      text-align: center;
      display: block;
    }
  }
}
